.slogan{
  font-weight: 900;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.slogan h1 em {
  font-style: normal;
}

.slogan-desc{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-top: 2em;
  margin-bottom: 40px;
  position: relative;
}
