/* You can add global styles to this file, and also import other style files */
.logo-text-auth{
  font-weight: 900;
  font-size: 35px;
  line-height: 80px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #F7FAFE;
}

.logo-text-dashboard{
  font-weight: 900;
  font-size: 35px;
  line-height: 80px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #cd201f;
}


