<div class="header bg-gradient-success py-lg-8">
  <div class="container-fluid">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="team-container">
          <section id="team" class="section-bg">
            <div class="container">
              <div class="section-header">
                <h3 class="section-title">Notre Équipe</h3>
                <span class="section-divider"></span>
              </div>
              <div class="row wow fadeInUp">
                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="assets/img/teamProfile/alex.jpg" alt=""></div>
                    <h4>Alexandre Serres</h4>
                    <span>Product Manager</span>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="assets/img/teamProfile/yoan.jpg" alt=""></div>
                    <h4>Yoann LeGrand</h4>
                    <span>Développeur</span>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="assets/img/teamProfile/merouane.jpg" alt=""></div>
                    <h4>Merouane Benamar</h4>
                    <span>Scrum Master</span>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="member">
                    <div class="pic"><img src="assets/img/teamProfile/chris.jpg" alt=""></div>
                    <h4>Christopher Aquino</h4>
                    <span>Développeur</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
